<div class="row mt-4 mt-4 border-top col-md-2">
    <button class="btn btn-outline-secondary" (click)="copyMessage()" value="click to copy" >Copy HTML code</button>
</div>
<div *ngIf="product" class="row mt-4 mt-4 border-top">
    <div class="col-md-4">
      <img
        *ngIf="!product.image?.startsWith('http')"
        src="{{ '/assets' + product.image }}"
        alt="{{ product.name + '_image' }}"
        class="img-fluid"
      />
      <img
        *ngIf="product.image?.startsWith('http')"
        src="{{ product.image }}"
        alt="{{ product.name + '_image' }}"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 product-detail">
      <h4>{{ product.name }}</h4>
      <div [innerHTML]="product.description"></div>
    </div>
    <div
      *ngIf="product.price && product.price.currency"
      class="col-md-2 product-price"
    >
      {{ product.price.value | currency: currency }}
    </div>
  </div>