
<div class="btn btn-primary mt-1" title="Share As PDF" (click)="downloadAsPDF()">Export to pdf</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div id="pdfTable" #pdfTable *ngIf="products" class="col-lg-9 table">
            <table class="table table-bordered" style="width: 100%; font-size: 12px;">
                <tr style="width: 100%;">
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <tr style="width: 100%;" *ngFor="let product of (products | async)?.items">
                    <td style="width: 50%;">{{product.name}}</td>
                    <td style="width: 50%;">{{product.price?.value | currency: currency}}</td>
                </tr>
            </table>
        </div>
        <div class="btn btn-primary mt-1" title="Share As PDF" (click)="downloadAsPDF()">Export to pdf</div>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>
