<div *ngIf="product" class="row">
  <div class="col-md-2">
    <img
      *ngIf="!product.image?.startsWith('http')"
      [src]="base64Image"
      alt="{{ product.name + '_image' }}"
      class="img-fluid"
    />
    <img
      *ngIf="product.image?.startsWith('http')"
      [src]="base64Image"
      alt="{{ product.name + '_image' }}"
      class="img-fluid"
    />
  </div>
  <div class="col-md-6 product-detail">
    <h4 [routerLink]="['/', 'products', 'details', product.id]">{{ product.name }}</h4>
    <div [innerHTML]="product.description"></div>
  </div>
  <div
    *ngIf="product.price && product.price.currency"
    class="col-md-2 product-price"
  >
    {{ product.price.value | currency: currency }}
  </div>
</div>
