<form class="mb-2" [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="form-group col">
        <label for="firstName">First name</label>
        <input
          class="form-control"
          name="firstName"
          type="text"
          formControlName="firstName"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="lastName">Last name</label>
        <input
          class="form-control"
          name="lastName"
          type="text"
          formControlName="lastName"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="dateOfBirth">Date of birth</label>
        <input
          class="form-control"
          name="dateOfBirth"
          type="date"
          formControlName="dateOfBirth"
          required
        />
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col">
        <label for="country">Country</label>
        <input
          class="form-control"
          name="country"
          type="text"
          formControlName="country"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="city">City</label>
        <input
          class="form-control"
          name="city"
          type="text"
          formControlName="city"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="street">Street</label>
        <input
          class="form-control"
          name="street"
          type="text"
          formControlName="street"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="streetNumber">Street number</label>
        <input
          class="form-control"
          name="streetNumber"
          type="text"
          formControlName="streetNumber"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="postCode">Post code</label>
        <input
          class="form-control"
          name="postCode"
          type="text"
          formControlName="postCode"
          required
        />
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col">
        <label for="email">Email</label>
        <input
          class="form-control"
          name="email"
          type="email"
          formControlName="email"
          required
        />
      </div>
  
      <div class="form-group col">
        <label for="phoneNumber">Phone number</label>
        <input
          class="form-control"
          name="phoneNumber"
          type="text"
          formControlName="phoneNumber"
          required
        />
      </div>
    </div>
  
    <button class="button btn btn-primary" type="submit">Submit</button>
  </form>
  