<form class="mb-2" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="form-group col">
      <label for="firstName">First name</label>
      <input
        class="form-control"
        name="firstName"
        type="text"
        formControlName="firstName"
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
        required
      />
      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <div *ngIf="f['firstName'].errors['required']">First name is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="lastName">Last name</label>
      <input
        class="form-control"
        name="lastName"
        type="text"
        formControlName="lastName"
        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
        required
      />
      <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
        <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="dateOfBirth">Date of birth</label>
      <input
        class="form-control"
        name="dateOfBirth"
        type="date"
        formControlName="dateOfBirth"
        [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }"
        required
      />
      <div *ngIf="submitted && f['dateOfBirth'].errors" class="invalid-feedback">
          <div *ngIf="f['dateOfBirth'].errors['required']">Date of birth is required</div>
          <div *ngIf="f['dateOfBirth'].errors['invalidDate']">Customer must be over 18</div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="country">Country</label>
      <input
        class="form-control"
        name="country"
        type="text"
        formControlName="country"
        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
        required
      />
      <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
        <div *ngIf="f['country'].errors['required']">Country is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="city">City</label>
      <input
        class="form-control"
        name="city"
        type="text"
        formControlName="city"
        [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
        required
      />
      <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
        <div *ngIf="f['city'].errors['required']">City is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="street">Street</label>
      <input
        class="form-control"
        name="street"
        type="text"
        formControlName="street"
        [ngClass]="{ 'is-invalid': submitted && f['street'].errors }"
        required
      />
      <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
        <div *ngIf="f['street'].errors['required']">Street is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="streetNumber">Street number</label>
      <input
        class="form-control"
        name="streetNumber"
        type="text"
        formControlName="streetNumber"
        [ngClass]="{ 'is-invalid': submitted && f['streetNumber'].errors }"
        required
      />
      <div *ngIf="submitted && f['streetNumber'].errors" class="invalid-feedback">
        <div *ngIf="f['streetNumber'].errors['required']">Street number is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="postCode">Post code</label>
      <input
        class="form-control"
        name="postCode"
        type="text"
        formControlName="postCode"
        [ngClass]="{ 'is-invalid': submitted && f['postCode'].errors }"
        required
      />
      <div *ngIf="submitted && f['postCode'].errors" class="invalid-feedback">
        <div *ngIf="f['postCode'].errors['required']">Postcode is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="email">Email</label>
      <input
        class="form-control"
        name="email"
        type="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        required
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">E-mail is required</div>
        <div *ngIf="f['email'].errors['email']">E-mail is invalid</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="phoneNumber">Phone number</label>
      <input
        class="form-control"
        name="phoneNumber"
        type="text"
        formControlName="phoneNumber"
        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
        required
      />
      <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
        <div *ngIf="f['phoneNumber'].errors['required']">Phone number is required</div>
      </div>
    </div>
  </div>

  <button class="button btn btn-primary" type="submit">Submit</button>
</form>
