<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Eshop</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/popularity">Popularity</a>
        </li>
      </ul>
      <ul class="ms-auto navbar-nav nav">
        <li *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/signout">Sign out</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/cart"><i class="bi bi-cart4"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
